body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
background-color: #2360a5;
  /* background-color: #1363DF; */
  /* background-color: #59CE8F; */
  /* background-color: #01ffab; */
  /* background-color: #F4B400; */
  /* background-color: #808080; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}